.mui-switch {
    float: right;
    margin-top: .06rem;
    width: 50px!important;
    height: 28px!important;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: 0
}

.mui-switch:before {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.4)
}

.mui-switch:checked {
    border-color: #4cd864;
    box-shadow: #4cd864 0 0 0 16px inset;
    background-color: #4cd864
}

.mui-switch:checked:before {
    left: 22px
}

.mui-switch.mui-switch-animbg {
    transition: background-color ease .4s
}

.mui-switch.mui-switch-animbg:before {
    transition: left .3s
}

.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color .4s,background-color ease .4s
}

.mui-switch.mui-switch-animbg:checked:before {
    transition: left .3s
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0,0,0,1) .4s,box-shadow cubic-bezier(0,0,0,1) .4s
}

.mui-switch.mui-switch-anim:before {
    transition: left .3s
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease .4s,box-shadow ease .4s,background-color ease 1.2s
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left .3s
}
